* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}

#main {
  position: relative;
  width: 100%;
}
#page1 {
  position: relative;
  width: 100%;
  background: url(Bannerbg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
#nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10vh 10vw;
}
#nav1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2vw;
}
#nav1 a {
  color: white;
  text-decoration: none;
  font-family: "Oxanium";
  font-size: 2.7vh;
  font-weight: 300;
}
#nav3 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2vw;
}
#nav3 a {
  color: white;
  text-decoration: none;
  font-family: "Oxanium";
  font-size: 2.7vh;
  font-weight: 300;
}
#menubtn {
  display: none;
}
#menubtn i {
  color: white;
  font-weight: 400;
  font-size: 3.5vh;
}
#p1heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 10vw;
}

#heading h1 {
  font-family: Oxanium;
  color: white;
  font-size: 7vh;
  padding-bottom: 2.7vh;
}
#heading #esports {
  color: #00eebd;
}
#heading #multiverse {
  font-size: 10vh;
}
#heading button {
  font-family: Oxanium;
  font-size: 3vh;
  padding: 2vh 2vw;
  text-decoration: none;
  border: none;
  background-color: #144558;
  color: white;
}
#p1heading #p1img1 {
  padding-right: 5vw;
  padding-top: 5.9vh;
}
#p1heading #p1img2 {
  padding-right: 5vw;
  padding-bottom: 2vh;
  display: none;
}
#p1heading #p1img3 {
  padding-right: 5vw;
  padding-bottom: 2vh;
  display: none;
}
#page2 {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #040d17;
}
#page2 h1 {
  color: #fff;
  font-family: Oxanium;
  font-size: 7vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 10vh 0;
}
#audets {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2vh 15vh;
  gap: 3vw;
}
#achivements {
  display: flex;
  align-items: center;
  padding-left: 7vw;
  gap: 3vw;
}
#achivements #ac {
  border: 2px solid #346296;
  width: 14vw;
  height: 10vh;
  padding: 1vh 2vh;
  font-family: Oxanium;
  background: linear-gradient(to right, #204875, #061525);
}
#ac h3 {
  font-size: 2vh;
  font-weight: 500;
}
#ac h2 {
  font-weight: 500;
}
#aboutus p {
  padding: 5vh 7vw;
  color: var(--Body-text-c-1, #f5f5f5);
  font-family: Inter;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 28px */
}
#aboutus button {
  margin-left: 7vw;
  background-color: #0a1f35;
  text-align: center;
  font-family: Oxanium;
  font-size: 2.4vh;
  padding: 2vh 3vw;
  color: #fff;
  border: none;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#page2 #aboutbtn {
  display: none;
  margin-left: 7vw;
  background-color: #0a1f35;
  text-align: center;
  font-family: Oxanium;
  font-size: 2.4vh;
  padding: 2vh 3vw;
  color: #fff;
  border: none;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#page2 #aboutpara {
  display: none;
  padding: 5vh 7vw;
  color: var(--Body-text-c-1, #f5f5f5);
  font-family: Inter;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: 155%; /* 28px */
}

#page3 {
  width: 100%;
  font-family: Oxanium;
  color: #fff;
  background: #040d17;
}
#page3 h1 {
  text-align: center;
  font-size: 8vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#page3 #tournament {
  padding: 4vh 7vw;
}
#tournament #tournamentslide1,
#tournamentslide2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3vh 0;
}
#tournamentcard {
  background: linear-gradient(
    134deg,
    #071626 -7.75%,
    rgba(7, 22, 38, 0) 136.66%
  );
  border-radius: 10px 10px 0px 0px;
  width: 25vw;
}
#tournamentcard img {
  width: 25vw;
}

#tournamentcard h1 {
  color: #f5f5f5;
  font-family: Oxanium;
  font-size: 3vh;
  padding: 1vh 0;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: start;
}
#tournamentcard h2 {
  color: #eaeaea;
  font-family: Inter;
  font-size: 2.3vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#tournamentcard #tournamentspecs {
  display: flex;
  align-items: start;
}
#tournamentspecsdets {
  padding: 1vh 0;
  width: 8vw;
}
#tournamentspecs #tournamentspecsdets h3 {
  color: #f5f5f5;
  font-family: Oxanium;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 1vh;
}
#tournamentspecs #tournamentspecsdets h2 {
  color: #eaeaea;
  font-family: Oxanium;
  font-size: 2.3vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.8vh 0;
}
#carddetails {
  padding-left: 1vw;
}
#page3 button {
  background-color: red;
  color: #fff;
  padding: 3vh 2vw;
  background: linear-gradient(148deg, #0a1f35 -9.88%, #040d17 155.68%);
  border-style: none;
  text-align: center;
  font-family: Oxanium;
  font-size: 3vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 45%;
}
#page4 {
  width: 100%;
  background-color: #040d17;
  color: #fff;
  font-family: Oxanium;
}
#page4 h3 {
  text-align: center;
  padding: 8vh 0;
  color: #fff;
  font-family: Oxanium;
  font-size: 8vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#contactus {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#contactus #location {
  background: linear-gradient(143deg, #0a1f35 -9.17%, #040d17 112.72%), #d9d9d9;
  padding: 4vh 4vw;
}
#location #officelocation {
  padding-bottom: 3vh;
}
#location #contactno {
  padding-bottom: 3vh;
}
#location h1 {
  color: #f5f5f5;
  font-family: Oxanium;
  font-size: 3.5vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#location h2 {
  color: #eaeaea;
  font-family: Inter;
  font-size: 2.7vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 2vw;
}
#userdetail1,
#userdetail2 {
  display: flex;
  align-items: center;
  gap: 4vw;
}
#userdetail h2 {
  padding: 3vh 0;
  color: #fff;
  font-family: Oxanium;
  font-size: 4vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#userdetail input {
  background-color: transparent;
  color: white;
  padding: 2vh 2vw;
  font-size: 2.5vh;
  border: 2px solid #173352;
}
#userdetail select {
  background-color: transparent;
  color: white;
  width: 20vw;
  padding: 2vh 2vw;
  font-size: 2.5vh;
  border: 2px solid #173352;
}
#userdetail textarea {
  background-color: transparent;
  color: #716b6c;
  padding: 2vh 2vw;
  font-size: 2.5vh;
  border: 2px solid #173352;
  margin-bottom: 4vh;
}
#userdetail button {
  padding: 2vh 2vw;
  font-family: Oxanium;
  font-size: 3vh;
  background: linear-gradient(152deg, #0a1f35 -10.57%, #040d17 166.39%);
  border: none;
  color: #eaeaea;
  margin-bottom: 4.5vh;
}
#message #textarea2 {
  display: none;
}
#message #textarea3 {
  display: none;
}

#page5 {
  width: 100%;
  color: white;
  font-family: Oxanium;
  background: #040d17;
}
#page5 h1 {
  text-align: center;
  padding: 8vh 0;
  color: #fff;
  font-family: Oxanium;
  font-size: 8vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#page5 #ourshop {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#ourshop #shop1 {
  display: flex;
  align-items: center;
}
#ourshop #shop2 {
  display: flex;
  align-items: center;
}
#item1,
#item2,
#item3,
#item4 {
  background: linear-gradient(
    134deg,
    #071626 -7.75%,
    rgba(7, 22, 38, 0) 136.66%
  );
  width: 24.178vw;
  border-radius: 10px;
}
#item2,
#item4 {
  margin-left: 9vw;
}
#ourshop #shop2 #item4 {
  display: none;
}
#ourshop h2 {
  color: #dbdbdb;
  padding: 1vh 2vw;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
#ourshop h1 {
  color: #f5f5f5;
  font-family: Oxanium;
  padding: 1vh 2vw;
  font-size: 3vh;
  font-style: normal;
  text-align: start;
  font-weight: 700;
  line-height: 150%; /* 33px */
}
#page5 button {
  padding: 2vh 2vw;
  font-family: Oxanium;
  font-size: 3vh;
  background: linear-gradient(152deg, #0a1f35 -10.57%, #040d17 166.39%);
  border: none;
  color: #eaeaea;
  margin: 4vh 45%;
}
#page6 {
  width: 100%;
  color: white;
  font-family: Oxanium;
  background: #040d17;
}
#page6 h1 {
  text-align: center;
  padding: 8vh 0;
  color: #fff;
  font-family: Oxanium;
  font-size: 8vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#page6 #latestnews {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#latestnews #newslist1 {
  display: flex;
  align-items: center;
}
#latestnews #newslist2 {
  display: flex;
  align-items: center;
}
#news1,
#news2,
#news3,
#news4 {
  background: linear-gradient(
    134deg,
    #071626 -7.75%,
    rgba(7, 22, 38, 0) 136.66%
  );
  width: 24.178vw;
  border-radius: 10px;
}
#news2,
#news4 {
  margin-left: 9vw;
}
#latestnews #newslist2 #news4 {
  display: none;
}
#latestnews h2 {
  color: #dbdbdb;
  padding: 1vh 2vw;
  font-size: 2.5vh;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
#latestnews h1 {
  color: #f5f5f5;
  font-family: Oxanium;
  padding: 1vh 2vw;
  font-size: 2.8vh;
  font-style: normal;
  text-align: start;
  font-weight: 700;
  line-height: 150%; /* 33px */
}
#page6 button {
  padding: 2vh 2vw;
  font-family: Oxanium;
  font-size: 3vh;
  background: linear-gradient(152deg, #0a1f35 -10.57%, #040d17 166.39%);
  border: none;
  color: #eaeaea;
  margin: 4vh 45%;
}
#page7 {
  width: 100%;
  color: white;
  font-family: Oxanium;
  background: #040d17;
  padding: 8vh 9vw;
}
#page7 #jt {
  background: linear-gradient(
    96deg,
    rgba(15, 43, 65, 0.9) -4.34%,
    rgba(1, 10, 16, 0.9) 103.42%
  );
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5vh 4vw;
}
#jt img {
  padding-right: 5vw;
}
#jt h1 {
  color: #fff;
  font-family: Oxanium;
  font-size: 3vh;
  padding-right: 3vw;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 38.4px */
}
#jt button {
  padding: 2vh 2vw;
  font-family: Oxanium;
  font-size: 2.5vh;
  width: 30.7vw;
  color: #fff;
  background: linear-gradient(152deg, #0a1f35 -10.57%, #040d17 166.39%);
  border: none;
}
#footer {
  background: linear-gradient(
    96deg,
    rgba(15, 43, 65, 0.9) -4.34%,
    rgba(1, 10, 16, 0.9) 103.42%
  );
  margin-top: 10vh;
  padding: 5vh 4vw;
}
#footertop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#foonav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3vw;
}
#foonav a {
  color: #fff;
  font-family: Inter;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
#socialmedia {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#fooemail {
  padding: 4vh 0;
}
#fooemail h2 {
  color: #fff;
  font-family: Oxanium;
  font-size: 3vh;
  padding-bottom: 1vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#fooemail input {
  background-color: transparent;
  color: white;
  padding: 1vh 1vw;
  font-size: 2vh;
  border: 2px solid #173352;
}
#fooemail button {
  border: none;
  font-family: Oxanium;
  background: linear-gradient(149deg, #0a1f35 -11.34%, #040d17 178.54%);
  padding: 1.4vh 3vw;
  color: #fff;
  font-size: 2vh;
  margin-left: 1vw;
}
#followus {
  margin-right: 12vw;
}
#followus h2 {
  color: #fff;
  font-family: Oxanium;
  font-size: 3vh;
  padding-bottom: 1vh;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#followus i {
  font-size: 4vh;
}
#smhandle {
  display: flex;
  padding-top: 1.5vh;
  gap: 3vw;
}
#footer h3 {
  text-align: center;
  padding-top: 4vh;
  color: #fff;
  font-family: Inter;
  font-size: 2vh;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* tablet_mode */
@media (min-width: 768px) and (max-width: 1024px) {
  #nav1 {
    display: none;
  }
  #nav3 a {
    display: none;
  }
  #menubtn {
    float: right;
    display: block;
  }
  #page1 {
    height: 100%;
  }
  #p1heading img {
    width: fit-content;
  }
  #p1heading #p1img1 {
    display: none;
  }
  #p1heading #p1img3 {
    display: none;
  }
  #p1heading #p1img2 {
    display: block;
  }
  #heading h1 {
    font-size: 5vh;
  }

  #heading #multiverse {
    font-size: 8vh;
  }
  #page2 h1 {
    font-size: 6vh;
    padding: 5vh 0;
  }
  #aboutus #achivements {
    flex-direction: column;
  }
  #aboutus p {
    display: none;
  }
  #aboutus button {
    display: none;
  }
  #page2 #aboutbtn {
    display: block;
    margin-left: 37.33%;
  }
  #page2 #aboutpara {
    display: block;
    font-size: 1.5vh;
  }
  #audets img {
    width: 30vh;
  }
  #achivements #ac {
    width: 30vw;
    height: 8.5vh;
    padding-top: 2vh;
  }
  #achivements #ac h3 {
    font-size: 1.5vh;
    text-align: center;
  }
  #achivements #ac h2 {
    text-align: center;
  }
  #page3 h1 {
    font-size: 5vh;
  }
  #tournamentcard3,
  #tournamentcard6 {
    display: none;
  }
  #tournament #tournamentslide1,
  #tournamentslide2 {
    justify-content: space-around;
  }
  #tournamentcard img {
    width: 40vw;
  }
  #tournamentcard {
    width: 40vw;
  }
  #carddetails h1 {
    font-size: 2vh;
  }
  #carddetails h2 {
    font-size: 1.5vh;
  }
  #tournamentspecs #tournamentspecsdets h3 {
    font-size: 1vh;
  }
  #tournamentspecs #tournamentspecsdets h2 {
    font-size: 1.5vh;
  }
  #page3 button {
    margin-left: 35%;
  }
  #contactus {
    flex-direction: column;
  }
  #location {
    width: 80%;
  }
  #location h2 {
    padding-left: 3.3vw;
  }

  #contactus #locationres {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 0;
  }
  #contactno {
    padding-bottom: 1vh;
  }
  #userdetail {
    padding-top: 4vh;
  }
  #userdetail button {
    margin-left: 38%;
  }
  #message #textarea1 {
    display: none;
  }
  #message #textarea3 {
    display: none;
  }
  #message #textarea2 {
    display: block;
  }
  #ourshop {
    flex-direction: column;
  }
  #ourshop #shop2 #item4 {
    display: block;
  }
  #ourshop img {
    width: 30vw;
  }
  #item1,
  #item2,
  #item3,
  #item4 {
    width: 30vw;
  }
  #ourshop #shop1 {
    margin-bottom: 4vh;
  }
  #page5 button {
    width: 15vw;
  }
  #latestnews {
    flex-direction: column;
  }
  #latestnews #newslist2 #news4 {
    display: block;
  }
  #latestnews img {
    width: 30vw;
  }
  #news1,
  #news2,
  #news3,
  #news4 {
    width: 30vw;
  }
  #latestnews #news1 {
    margin-bottom: 4vh;
  }
  #page6 button {
    width: 15vw;
  }
  #latestnews h1 {
    font-size: 2.5vh;
  }
  #jt {
    flex-direction: column;
  }
  #jt img {
    padding-left: 3.5vw;
  }
  #jt h1 {
    text-align: center;
    padding: 4vh 0;
  }
  #jt button {
    background: linear-gradient(96deg, #144558 -3.74%, #0e3b4c 113.5%), #0a1f35;
  }
  #footertop {
    flex-direction: column;
  }
  #footertop img {
    padding-bottom: 5vh;
  }
  #fooemail {
    padding-top: 6vh;
  }
  #followus {
    padding-bottom: 6vh;
  }
  #fooemail #subscribe {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
  }
  #subscribe button {
    margin-left: -0.09vw;
    width: 15vw;
    margin-top: 2vh;
  }
}
/* for phone */
@media only screen and (max-width: 768px) {
  #nav {
    padding: 3vh 10vw;
  }
  #nav1 {
    display: none;
  }
  #nav3 a {
    display: none;
  }
  #menubtn {
    float: right;
    display: block;
  }
  #menubtn i {
    font-size: 3vh;
  }
  #p1heading {
    flex-direction: column;
  }
  #p1heading #p1img1 {
    display: none;
  }
  #p1heading #p1img2 {
    display: none;
  }
  #p1heading #p1img3 {
    display: block;
    padding-top: 4vh;
    padding-left: -1.8vw;
  }
  #heading h1 {
    font-size: 4.5vh;
  }
  #heading #multiverse {
    font-size: 6vh;
  }
  #page1 {
    height: 100vh;
    width: 100%;
    background: url(mobilebg.png);
  }
  #nav2 img {
    width: 8vh;
  }
  #heading button {
    font-size: 2vh;
  }
  #page2 {
    height: 100%;
  }
  #audets {
    flex-direction: column;
  }
  #aboutus #achivements {
    flex-direction: column;
  }
  #aboutus p {
    display: none;
  }
  #aboutus button {
    display: none;
  }
  #page2 #aboutbtn {
    display: block;
    margin-left: 34.33%;
    font-size: 2vh;
    text-align: center;
    padding: 2.4vh 6vw;
  }
  #page2 #aboutpara {
    display: block;
    font-size: 1.2vh;
    padding-top: 1.6vh;
  }
  #audets img {
    width: 28vh;
  }
  #achivements {
    padding-top: 2vh;
  }
  #achivements #ac {
    width: 50vw;
    height: 8.5vh;
    padding-top: 1.5vh;
  }
  #achivements #ac h3 {
    font-size: 1.5vh;
    text-align: center;
  }
  #achivements #ac h2 {
    text-align: center;
    font-size: 2.5vh;
  }
  #page2 h1 {
    font-size: 4vh;
    padding: 3vh 0;
  }
  #page3 {
    padding-top: 4vh;
  }
  #page3 h1 {
    font-size: 4vh;
  }
  #tournamentcard3,
  #tournamentcard6,
  #tournamentcard5 {
    display: none;
  }
  #tournamentcard1 {
    margin-bottom: 4vh;
  }
  #tournament #tournamentslide1,
  #tournamentslide2 {
    justify-content: space-around;
  }
  #tournament #tournamentslide1 {
    flex-direction: column;
  }
  #tournamentcard img {
    width: 60vw;
  }
  #tournamentcard {
    width: 60vw;
  }
  #carddetails h1 {
    font-size: 1.7vh;
  }
  #carddetails h2 {
    font-size: 1vh;
  }
  #tournamentspecs #tournamentspecsdets h3 {
    font-size: 0.7vh;
  }
  #tournamentspecs #tournamentspecsdets h2 {
    font-size: 1vh;
  }
  #page3 button {
    margin-left: 35%;
    font-size: 2vh;
  }
  #contactus {
    flex-direction: column;
  }
  #page4 h3 {
    color: #fff;
    font-family: Oxanium;
    font-size: 5vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  #location h1 {
    font-size: 3vh;
  }
  #location h2 {
    font-size: 2vh;
    padding-left: 8vw;
  }

  #userdetail1 {
    flex-direction: column;
  }
  #userdetail2 {
    flex-direction: column;
  }
  #message #textarea1 {
    display: none;
  }
  #message #textarea2 {
    display: block;
  }
  #howyouknowaboutus #select {
    width: 50vw;
  }
  #userdetail h2 {
    font-size: 3vh;
  }
  #userdetail1,
  #userdetail2 {
    align-items: start;
    margin-left: 6vw;
  }
  #userdetail button {
    margin-left: 5vw;
  }
  #ourshop {
    flex-direction: column;
  }
  #ourshop #shop2 #item4 {
    display: none;
  }
  #shop1 {
    flex-direction: column;
  }
  #ourshop img {
    width: 70vw;
  }
  #item1,
  #item2,
  #item3,
  #item4 {
    width: 70vw;
  }

  #item2 {
    margin-right: 9vw;
    margin-top: 4vh;
  }
  #ourshop #shop1 {
    margin-bottom: 4vh;
  }
  #page5 button {
    width: 30vw;
    margin-left: 33%;
  }
  #page5 h1 {
    color: #fff;
    font-family: Oxanium;
    font-size: 5vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  #message #textarea1 {
    display: none;
  }
  #message {
    padding-left: 5vw;
  }
  #message #textarea3 {
    display: block;
  }
  #message #textarea2 {
    display: none;
  }
  #ourshop h2 {
    font-size: 2vh;
  }
  #ourshop h1 {
    font-size: 2.7vh;
  }
  #latestnews {
    flex-direction: column;
  }
  #latestnews #newslist2 #news4 {
    display: none;
  }
  #newslist1 {
    flex-direction: column;
  }
  #latestnews img {
    width: 70vw;
  }
  #news1,
  #news2,
  #news3,
  #news4 {
    width: 70vw;
  }

  #news2 {
    margin-right: 9vw;
    margin-top: 4vh;
  }
  #latestnews #newslist1 {
    margin-bottom: 4vh;
  }
  #page6 button {
    width: 30vw;
    margin-left: 33%;
  }
  #page6 h1 {
    color: #fff;
    font-family: Oxanium;
    font-size: 5vh;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  #latestnews h2 {
    font-size: 2vh;
  }
  #latestnews h1 {
    font-size: 2vh;
  }
  #jt {
    flex-direction: column;
  }
  #jt img {
    padding-left: 3.5vw;
  }
  #jt h1 {
    font-size: 2vh;
    text-align: center;
    padding: 4vh 0;
  }
  #jt button {
    background: linear-gradient(96deg, #144558 -3.74%, #0e3b4c 113.5%), #0a1f35;
    width: 50vw;
  }
  #footertop {
    flex-direction: column;
  }
  #foonav {
    flex-direction: column;
  }
  #foonav a {
    padding: 2vh;
  }
  #footertop img {
    padding-bottom: 5vh;
  }
  #socialmedia {
    flex-direction: column;
  }
  #fooemail #subscribe button {
    margin-left: 27%;
  }
  #followus h2 {
    text-align: center;
  }
  #fooemail {
    padding-top: 6vh;
  }

  #followus {
    padding-bottom: 6vh;
    padding-left: 8vw;
  }
  #fooemail #subscribe {
    display: flex;
    flex-direction: column;
    padding-top: 1vh;
  }
  #subscribe button {
    margin-left: -0.09vw;
    width: 15vw;
    margin-top: 2vh;
  }
  #smhandle {
    display: flex;
    gap: 8vw;
  }
  #footer h3 {
    font-size: 1.5vh;
  }
}
